@model FridgePlanner.Models.ViewModels.EditRecipeViewModel
@{
    ViewData["Title"] = "Add Recipe Page";
}
<div class="index_wrapper container-fluid text-black">
    <h2>Rezept editieren</h2>
    <br />
    <div class="card" style="margin-top: 5px;">
        <div class="card-header">
            <b>@Model.RecipeElement.Name</b>
            <a data-toggle="modal" data-target="#editRecipeModal" class="btn button-save float-right">
                <span class="material-icons">
                    edit
                </span>
            </a>
        </div>
        <div class="card-body">
            @Model.RecipeElement.Description
        </div>
    </div>
    <br />
    <div class="left-column">
        <a data-toggle="modal" data-target="#addRecipeItemModal" class="btn btn-success">
            Zutat hinzufügen
        </a>
        <div class="recipeEdit-scrollbar" style="margin: 5px 5px 5px 0px;">
            @if (Model.RecipeElement.RecipeItems.Count > 0)
            {
                @for (int i = 0; i < Model.RecipeElement.RecipeItems.Count; i++)
                {
                    <div class="card" style="margin-top: 5px;">
                        <div class="card-body">
                            @Model.RecipeElement.RecipeItems.ElementAt(i).Name
                            @Model.RecipeElement.RecipeItems.ElementAt(i).Amount @Model.RecipeElement.RecipeItems.ElementAt(i).Unit

                            <a data-toggle="modal" data-target="#modalDeleteRecipeItem@(Model.RecipeElement.RecipeItems.ElementAt(i).Id)" class="btn btn-danger float-right" style="color:white;">
                                <span class="material-icons">
                                    delete_forever
                                </span>
                            </a>
                            <!-- Modal Delete Recipe Item-->
                            <div class="modal fade" id="modalDeleteRecipeItem@(Model.RecipeElement.RecipeItems.ElementAt(i).Id)" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true" data-backdrop="false">
                                <div class="modal-dialog modal-dialog-centered" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLongTitle">Zutat aus Rezept entfernen</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <p>Bist du sicher, dass du diese Zutat löschen möchtest?</p>
                                            <button onclick="deleteRecipeItem(@Model.RecipeElement.Id,@Model.RecipeElement.RecipeItems.ElementAt(i).Id)" type="button" data-dismiss="modal" class="btn btn-danger">Löschen</button>
                                            <button type="button" class="btn btn-dark" data-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <a data-toggle="modal" data-target="#editRecipeItemModal@(i)" class="btn btn-warning float-right mr-1" style="color:white;">
                                <span class="material-icons">
                                    edit
                                </span>
                            </a>
                            <!-- Modal Edit recipe Item-->
                            <div class="modal fade" id="editRecipeItemModal@(i)" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true" data-backdrop="false">
                                <div class="modal-dialog modal-dialog-centered" role="document">
                                    <div class="modal-content">

                                        <div class="modal-header">
                                            <p class="heading lead">
                                                <h4 class="modal-title" id="editRecipeItemLabel">Zutat ändern</h4>
                                            </p>

                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true" class="white-text">×</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="container-fluid">
                                                <div class="row">
                                                    <div class="col-md-12">

                                                        <div class="md-form">
                                                            <strong>Name</strong>
                                                            <input id="recipeItemEditName@(@Model.RecipeElement.RecipeItems.ElementAt(i).Id)" type="text" value="@Model.RecipeElement.RecipeItems.ElementAt(i).Name" class="form-control" placeholder="Zutat" aria-label="Exercisename" aria-describedby="basic-addon1">
                                                        </div>
                                                        <br />
                                                        <div class="md-form">
                                                            <strong>Menge</strong>
                                                            <input id="recipeItemEditAmount@(@Model.RecipeElement.RecipeItems.ElementAt(i).Id)" type="number" value="@Model.RecipeElement.RecipeItems.ElementAt(i).Amount" class="form-control" placeholder="Menge" aria-label="Exercisename" aria-describedby="basic-addon1">
                                                        </div>

                                                        <br />
                                                        <div class="md-form">
                                                            <strong>Einheit</strong>
                                                            <select class="custom-select" id="recipeItemEditUnit@(@Model.RecipeElement.RecipeItems.ElementAt(i).Id)">
                                                                @foreach (string category in Model.Units)
                                                                {
                                                                    if (category.Equals(Model.RecipeElement.RecipeItems.ElementAt(i).Unit))
                                                                    {
                                                                        <option selected value="@category">@category</option>
                                                                    }
                                                                    else
                                                                    {
                                                                        <option value="@category">@category</option>
                                                                    }

                                                                }
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-dark" data-dismiss="modal">Close</button>
                                            <button onclick="updateRecipeItem(@Model.RecipeElement.RecipeItems.ElementAt(i).Id,@Model.RecipeElement.Id)" type="button" data-dismiss="modal" class="btn btn-success">Zutat speichern</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            }
            else
            {
                <div class="card" style="margin-top: 5px;">
                    <div class="card-body">
                        Bisher sind keine Zutaten in diesem Rezept vorhanden.
                    </div>
                </div>
            }
        </div>
        <div class="row">
            <div class="col-sm-3">
                <a class="btn btn-dark" asp-controller="Recipe" asp-action="Index">Rezept Übersicht</a>
                <br />
            </div>
        </div>
    </div>
    <div class="right-column">
        <a data-toggle="modal" data-target="#addRecipeStepModal" class="btn btn-success">
            Zubereitungsschritt hinzufügen
        </a>
        <div class="recipeEdit-scrollbar" style="margin: 5px 5px 5px 0px; margin-bottom: 15px;">
            @if (Model.RecipeElement.RecipeSteps.Count > 0)
            {
                @for (int j = 1; j <= Model.RecipeElement.RecipeSteps.Max(x => x.StepNumber); j++)
                {
                    @for (int i = 0; i < Model.RecipeElement.RecipeSteps.Count; i++)
                    {
                        @if (Model.RecipeElement.RecipeSteps.ElementAt(i).StepNumber == j)
                        {
                            <div class="card" style="margin-top: 5px;">
                                <div class="card-header"> <b>@Model.RecipeElement.RecipeSteps.ElementAt(i).StepNumber</b> @Model.RecipeElement.RecipeSteps.ElementAt(i).Title</div>
                                <div class="card-body">
                                    @Model.RecipeElement.RecipeSteps.ElementAt(i).Text

                                    <a data-toggle="modal" data-target="#modalDeleteRecipeStep@(Model.RecipeElement.RecipeSteps.ElementAt(i).Id)" class="btn btn-danger float-right" style="color:white;">
                                        <span class="material-icons">
                                            delete_forever
                                        </span>
                                    </a>
                                    <!-- Modal Delete Recipe Step-->
                                    <div class="modal fade" id="modalDeleteRecipeStep@(Model.RecipeElement.RecipeSteps.ElementAt(i).Id)" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true" data-backdrop="false">
                                        <div class="modal-dialog modal-dialog-centered" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="exampleModalLongTitle">Zubereitungsschritt löschen</h5>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    <p>Bist du sicher, dass du diesen Zubereitungsschritt löschen möchtest?</p>
                                                    <button onclick="deleteRecipeStep(@Model.RecipeElement.Id,@Model.RecipeElement.RecipeSteps.ElementAt(i).Id)" type="button" data-dismiss="modal" class="btn btn-danger">Löschen</button>
                                                    <button type="button" class="btn btn-dark" data-dismiss="modal">Close</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <a data-toggle="modal" data-target="#editRecipeStepModal@(i)" class="btn btn-warning float-right mr-1" style="color:white;">
                                        <span class="material-icons">
                                            edit
                                        </span>
                                    </a>
                                    <!-- Modal Edit RecipeStep-->
                                    <div class="modal fade" id="editRecipeStepModal@(i)" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true" style="z-index:5;" data-backdrop="false">
                                        <div class="modal-dialog modal-dialog-centered" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <p class="heading lead">
                                                        <h4 class="modal-title" id="addRecipeStepLabel">Zubereitungsschritt ändern</h4>
                                                    </p>

                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true" class="white-text">×</span>
                                                    </button>
                                                </div>

                                                <div class="modal-body">
                                                    <div class="container-fluid">
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <div class="md-form">
                                                                    <input id="recipeStepEditName@(@Model.RecipeElement.RecipeSteps.ElementAt(i).Id)" type="text" value="@Model.RecipeElement.RecipeSteps.ElementAt(i).Title" class="form-control" placeholder="Name des Zubereitungsschritts" aria-describedby="basic-addon1">
                                                                </div>
                                                                <br />
                                                                <div class="md-form">
                                                                    <input id="recipeStepEditNumber@(@Model.RecipeElement.RecipeSteps.ElementAt(i).Id)" type="number" value="@Model.RecipeElement.RecipeSteps.ElementAt(i).StepNumber" class="form-control" placeholder="Schrittnummer" aria-describedby="basic-addon1">
                                                                </div>
                                                                <br />
                                                                <div class="md-form">
                                                                    <input id="recipeStepEditText@(@Model.RecipeElement.RecipeSteps.ElementAt(i).Id)" type="text" value="@Model.RecipeElement.RecipeSteps.ElementAt(i).Text" class="form-control" placeholder="Text" aria-describedby="basic-addon1">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-dark" data-dismiss="modal">Close</button>
                                                    <button onclick=" updateRecipeStep(@Model.RecipeElement.RecipeSteps.ElementAt(i).Id,@Model.RecipeElement.Id)" type="button" data-dismiss="modal" class="btn btn-success">Zubereitungsschritt speichern</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                }
            }
            else
            {
                <div class="card" style="margin-top: 5px;">
                    <div class="card-header">Keine Zubereitungsschritte gefunden.</div>
                    <div class="card-body">
                        Es wurde kein Zubereitungsschritt für dieses Rezept gefunden. Erstelle einen...
                    </div>
                </div>
            }
        </div>
    </div>
</div>

<!-- Modal Edit Recipe-->
<div class="modal fade" id="editRecipeModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true" style="z-index:5;" data-backdrop="false">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <p class="heading lead">
                    <h4 class="modal-title" id="editRecipeLabel">Rezeptbeschreibung verändern</h4>
                </p>

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" class="white-text">×</span>
                </button>
            </div>

            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="md-form">
                                <input id="editRecipeName" type="text" value="@Model.RecipeElement.Name" class="form-control" placeholder="Name des Rezepts" aria-describedby="basic-addon1">
                            </div>
                            <br />
                            <div class="md-form">
                                <input id="editRecipeDescription" type="text" value="@Model.RecipeElement.Description" class="form-control" placeholder="Rezeptbeschreibung" aria-describedby="basic-addon1">
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-dark" data-dismiss="modal">Close</button>
                <button onclick="editRecipe(@Model.RecipeElement.Id)" type="button" data-dismiss="modal" class="btn btn-success">Änderungen übernehmen</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal Add RecipeItem-->
<div class="modal fade" id="addRecipeItemModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true" style="z-index:5;" data-backdrop="false">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <p class="heading lead">
                    <h4 class="modal-title" id="addRecipeItemLabel">Zutat hinzufügen</h4>
                </p>

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" class="white-text">×</span>
                </button>
            </div>

            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="md-form">
                                <input id="recipeItemName" type="text" class="form-control" placeholder="Name der Zutat" aria-describedby="basic-addon1">
                            </div>
                            <br />
                            <div class="md-form">
                                <input id="recipeItemAmount" type="number" class="form-control" placeholder="Menge" aria-describedby="basic-addon1">
                            </div>
                            <div class="md-form">
                                <strong>Einheit</strong>
                                <select class="custom-select" id="recipeItemUnit">
                                    @foreach (string units in Model.Units)
                                    {
                                        if (units.Equals(Model.Units[0]))
                                        {
                                            <option selected value="@units">@units</option>
                                        }
                                        else
                                        {
                                            <option value="@units">@units</option>
                                        }
                                    }
                                </select>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-dark" data-dismiss="modal">Close</button>
                <button onclick="addRecipeItem(@Model.RecipeElement.Id)" type="button" data-dismiss="modal" class="btn btn-success">Lebensmittel hinzufügen</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal Add RecipeStep-->
<div class="modal fade" id="addRecipeStepModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true" style="z-index:5;" data-backdrop="false">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <p class="heading lead">
                    <h4 class="modal-title" id="addRecipeStepLabel">Zubereitungsschritt hinzufügen</h4>
                </p>

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" class="white-text">×</span>
                </button>
            </div>

            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="md-form">
                                <input id="recipeStepName" type="text" class="form-control" placeholder="Name des Zubereitungsschritts" aria-describedby="basic-addon1">
                            </div>
                            <br />
                            <div class="md-form">
                                <input id="recipeStepNumber" type="number" class="form-control" placeholder="Reihenfolgenummer" aria-describedby="basic-addon1">
                            </div>
                            <br />
                            <div class="md-form">
                                <input id="recipeStepText" type="text" class="form-control" placeholder="Beschreibung des Zubereitungsschritts" aria-describedby="basic-addon1">
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-dark" data-dismiss="modal">Close</button>
                <button onclick="addRecipeStep(@Model.RecipeElement.Id)" type="button" data-dismiss="modal" class="btn btn-success">Schritt hinzufügen</button>
            </div>
        </div>
    </div>
</div>