@model FridgePlanner.Models.ViewModels.NutritionViewModel;
@{
    Layout = null;
}

<!-- Modal Nutrition Detail-->
<div class="modal text-black" id="recipeNutritionModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true" style="z-index:5;" data-backdrop="false">
    <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <p class="heading lead">
                    <h4 class="modal-title" id="NutritionLabel">Nährwerte des Rezepts</h4>
                </p>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" class="white-text">×</span>
                </button>
            </div>

            <div class="modal-body">
                        <div class="table-wrapper-scroll-y nutrition-scrollbar" style="height: 40%;">
                            <table class="table table-sm">
                                <thead>
                                    <tr>
                                        <th colspan="4">Nährwerte pro Portion</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th colspan="2">
                                            <b>Kalorien</b>
                                        </th>
                                        <td>@Model.NutritionResponse.calories kcal</td>
                                    </tr>
                                    <tr>
                                        <th colspan="2">
                                            <b>Fett</b>
                                        </th>
                                        <td>@String.Format("{0:0.##}", Model.NutritionResponse.totalNutrients.FAT.quantity) @Model.NutritionResponse.totalNutrients.FAT.unit</td>
                                    </tr>
                                    <tr>
                                        <th colspan="2">
                                            gesättigte Fettsäuren
                                        </th>
                                        <td>@String.Format("{0:0.##}", Model.NutritionResponse.totalNutrients.FASAT.quantity) @Model.NutritionResponse.totalNutrients.FASAT.unit</td>
                                    </tr>
                                    <tr>
                                        <th colspan="2">
                                            <b>Natrium</b>
                                        </th>
                                        <td>@String.Format("{0:0.##}", Model.NutritionResponse.totalNutrients.NA.quantity) @Model.NutritionResponse.totalNutrients.NA.unit</td>
                                    </tr>
                                    <tr>
                                        <th colspan="2">
                                            <b>Kohlenhydrat</b>
                                        </th>
                                        <td>@String.Format("{0:0.##}", Model.NutritionResponse.totalNutrients.CA.quantity) @Model.NutritionResponse.totalNutrients.CA.unit</td>
                                    </tr>
                                    <tr>
                                        <th colspan="2">
                                            Zucker
                                        </th>
                                        <td>@String.Format("{0:0.##}", Model.NutritionResponse.totalNutrients.SUGAR.quantity) @Model.NutritionResponse.totalNutrients.SUGAR.unit</td>
                                    </tr>
                                    <tr>
                                        <th colspan="2">
                                            <b>Protein</b>
                                        </th>
                                        <td>@String.Format("{0:0.##}", Model.NutritionResponse.totalNutrients.PROCNT.quantity) @Model.NutritionResponse.totalNutrients.PROCNT.unit</td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-dark" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
