@model FridgePlanner.Entities.Recipe;
@{
    Layout = null;
}
<div class="recipe-scrollbar text-black">
    <div style="margin:0px 10px 0px 10px;">
        @if (Model.Name != null)
        {
            <div style="margin: 0px 5px 5px 5px;">
                <br />
                <h2>@Model.Name</h2>
                <p>@Model.Description</p>
            </div>
            <hr />
            <h5 style="margin-left: 5px;">Zutaten</h5>
            <div class="recipe-scrollbar" style="margin: 5px 5px 5px 5px; height: 160px;">

                @for (int i = 0; i < Model.RecipeItems.Count; i++)
                {
                    <div class="card text-black" style="margin-top: 5px;">
                        <div class="card-body">
                            @Model.RecipeItems.ElementAt(i).Name
                            @Model.RecipeItems.ElementAt(i).Amount @Model.RecipeItems.ElementAt(i).Unit
                        </div>
                    </div>
                }
            </div>
            <hr />
            <h5 style="margin-left: 5px;">Zubereitungsschritte</h5>
            <div class="recipe-scrollbar" style="margin: 5px 5px 5px 5px; margin-bottom: 15px; height: 100%;">
                @if (Model.RecipeSteps.Count > 0)
                {
                    @for (int j = 1; j <= Model.RecipeSteps.Max(x => x.StepNumber); j++)
                    {
                        @for (int i = 0; i < Model.RecipeSteps.Count; i++)
                        {
                            @if (Model.RecipeSteps.ElementAt(i).StepNumber == j)
                            {
                                <div class="card text-black" style="margin-top: 5px;">
                                    <div class="card-header"> <b>@Model.RecipeSteps.ElementAt(i).StepNumber</b> @Model.RecipeSteps.ElementAt(i).Title</div>
                                    <div class="card-body">
                                        @Model.RecipeSteps.ElementAt(i).Text
                                    </div>
                                </div>
                            }

                        }
                    }
                }
            </div>
        }
        else
        {
            <div style="margin: 0px 5px 5px 5px;">
                <br />
                <h2>Keine Rezepte gefunden</h2>
                <p>Bitte lege einige Rezepte an.</p>
            </div>
            <hr />
        }

    </div>
    
    <br />
</div>

