@model FridgePlanner.Models.ViewModels.ShoppingViewModel
@{
    ViewData["Title"] = "Shopping Page";
}
<div id="ShoppingList">
    <div class="index_wrapper">
        <h2> <u>Shopping Liste</u></h2>
        <br />
        <div class="row">

            <div class="col-8 table-wrapper-scroll-y fridge-scrollbar">
                @await Html.PartialAsync("ShoppingPartial.cshtml", Model.ShoppingItems)
            </div>
            <div class="col-4">

                <a data-toggle="modal" data-target="#addShoppingModal" class="btn btn-success btn-block" style="color:white;">
                    <span class="material-icons icon-large">
                        add
                    </span>
                    <p class="button-text">
                        Artikel hinzufügen
                    </p>
                </a>
                <hr />
                <br />
                <div class="text-center">
                    @{
                        if (Model != null)
                        {
                            <h5>Scan with Apple IPhone Shortcut</h5>
                            <br />
                            <img src="@String.Format("data:image/png;base64,{0}", Convert.ToBase64String(Model.QrCodeData))" style="height:250px;" class="center" />
                        }
                        else
                        {
                            <h4>No Data available, Model is empty</h4>
                        }
                    }
                </div>
               
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-sm-3">
                <a class="btn btn-dark" asp-controller="Fridge" asp-action="Index">Zurück zur Verwaltung</a>
                <br />
            </div>
        </div>
        <br />
    </div>
</div>


<!-- Modal Add ShoppingItem-->
<div class="modal fade" id="addShoppingModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true" style="z-index:5;" data-backdrop="false">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <p class="heading lead">
                    <h4 class="modal-title" id="editNewsLabel">Lebensmittel hinzufügen</h4>
                </p>

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" class="white-text">×</span>
                </button>
            </div>

            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="md-form">
                                <input id="shoppingName" type="text" class="form-control" placeholder="Enter the name" aria-describedby="basic-addon1">
                            </div>
                            <br />
                            <div class="md-form">
                                <input id="shoppingAmount" type="number" class="form-control" placeholder="Enter amount" aria-describedby="basic-addon1">
                            </div>
                            <div class="md-form">
                                <strong>Units</strong>
                                <select class="custom-select" id="shoppingUnit">
                                    @foreach (string category in Model.Units)
                                    {
                                        if (category.Equals(Model.Units[0]))
                                        {
                                            <option selected value="@category">@category</option>
                                        }
                                        else
                                        {
                                            <option value="@category">@category</option>
                                        }
                                    }
                                </select>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button onclick="addShoppingItem()" type="button" data-dismiss="modal" class="btn btn-success">Lebensmittel hinzufügen</button>
            </div>
        </div>
    </div>
</div>