@model List<ShoppingListItem>
@{
    Layout = null;
}
<table class="table table-hover table-light table-striped text-black">
    <tr style="color:black">
        <th>Name</th>
        <th>Anzahl</th>
        <th>Einheit</th>
        <th>Actions</th>
    </tr>
    @for (int i = 0; i < Model.Count; i++)
    {
        <tr>
            <td>@Model.ElementAt(i).Name</td>
            <td>@Model.ElementAt(i).Amount</td>
            <td>@Model.ElementAt(i).Unit</td>
            <td>
                <button onclick="editShoppingItem(@Model[i].Id)" type="button" class="btn button-edit btn-sm">
                    <i class="material-icons" style="font-size:20px">
                        edit
                    </i>
                </button>
                <button type="button" class="btn button-delete btn-sm" data-toggle="modal" data-target="#modalDeleteShoppingItem@(Model[i].Id)">
                    <i class="material-icons" style="font-size:20px">
                        delete_forever
                    </i>
                </button>
            </td>
        </tr>
        <div id="shoppingEditDiv">

        </div>
        <!-- Modal Delete Shopping Item-->
        <div class="modal fade" id="modalDeleteShoppingItem@(Model[i].Id)" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Delete Shopping Item</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>Are you sure that this Shopping Item should be deleted permanently</p>
                        <button onclick="deleteShoppingItem(@Model[i].Id)" type="button" data-dismiss="modal" class="btn button-delete">Delete</button>
                        <button type="button" class="btn button-back" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

    }
</table>